.login-button {
    background-color: #00ADEE;
    color: white;
    width: 150px;
    height: 50px;
    align-self: center;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
}

.login-error {
    background-color: red;
    color: white;
    width: 150px;
    height: 50px;
    align-self: center;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
}

.loading {
    background-color: #00ADEE;
    width: 150px;
    height: 50px;
    align-self: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.loading-spinner {
    color: white;
}

.loading-text {
    color: white;
    font-size: 20px;
}

.form {
    max-width: 360px;
    padding: 30px;
    box-shadow: 5px 4px 10px grey;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.title {
    align-self: center;
    color: black;
    font-size: 30px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1024px) {
    .form {
        box-shadow: none;
    }
}
