$tech-logo-size: 100px;
$tech-container-margin: 20px;
$tech-container-height: 350px;
$tech-container-width: 210px;

.tech {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: $tech-container-height;
  margin: $tech-container-margin;
  position: relative;
  width: $tech-container-width;

  &::before {
    border: 1px solid $green;
    border-radius: 5px;
    bottom: 10px;
    content: '';
    height: $tech-container-height;
    position: absolute;
    right: 10px;
    width: $tech-container-width;
    z-index: -1;
    transition: bottom 0.5s ease-out, right 0.5s ease-out;
  }

  &:hover::before {
    bottom: -10px;
    right: -10px;
  }
}

.tech-title {
  font-size: $text-medium;
}

.tech-logo {
  height: $tech-logo-size;
  margin: 12px;
  width: $tech-logo-size;
}

.tech-date,
.tech-text
 {
  font-size: $text-small;
  margin: 10px 12px;
  text-align: center;
}

.tech-date {
  font-weight: bold;
}
