$tech-logo-size: 100px;
$tech-container-margin: 20px;
$tech-container-height: 350px;
$tech-container-width: 210px;

.tech {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: $tech-container-height;
  position: relative;
  width: $tech-container-width;

  &:first-child {
    border-right: solid $green 2px;
    grid-row: 1 / span 2;
    height: 100%;
  }
}

.tech-title {
  font-size: $text-medium;
}

.tech-logo {
  height: $tech-logo-size;
  margin: 12px;
  width: $tech-logo-size;
}

.tech-date,
.tech-text
 {
  font-size: $text-small;
  margin: 10px 12px;
  text-align: center;
}

.tech-date {
  font-weight: bold;
}
