@import 'src/scss/colors.scss';

$square-background: $white;
$square-border: $dust-gray;
$square-size: 70px;

.square {
  background: $square-background;
  border: 1px solid $square-border;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: $square-size;
  height: $square-size;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: $square-size;
}

.square:focus {
  outline: none;
}

.player-x {
  color: green;
}

.player-o {
  color: red;
}