.language-button {
    margin: 10px;
    font-size: 15px;
    width: 50px;
    align-self: baseline;
}

.language-selected {
    margin: 10px;
    font-size: 15px;
    color: black;
    width: 50px;
    align-self: baseline;
}
