.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.game-info {
  margin-left: 50px;
  font-size: 24px;
  width: 250px;
}

.game-board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.retry-button {
  background-color: #00ADEE;
  color: white;
  width: 150px;
  height: 50px;
  align-self: center;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 20px;
}
